<style type="text/css">
table, th, td{
    text-align:center;
  border: 1px solid ;
}
</style>




<h1>ALL PRODUCTS </h1>


<table>
    <thead>
        <tr>
        <td>id</td>
        <td>name</td>
        <td>user_id</td>
        <td></td>
        <td>order</td>
        </tr>
    </thead>
    <tbody>
    <% @sho.each do |table| %>
        <tr>
        <td> <%=table.id %> </td>
        <td> <%=table.product_name %> </td>
        <td> <%=table.user_id %> </td>
        <td>  </td>
        <td> <%=link_to "add order", new_user_product_order_path(table.id,table.user_id) %> </td>
     
          
    
       <% end %>
        </tr>
    </tbody>